<div class="onboarding">
  <div class="onboarding__container">
    <header class="onboarding__header">
      <h1 class="onboarding__title">Decentralized Identifier</h1>
    </header>

    <div class="onboarding__icon">
      <div class="onboarding__logo">
        <img src="assets/signet_bright.svg" />
      </div>
    </div>

    <div class="onboarding__content">
      <p class="onboarding__description">
        Decentralized Identifier (DID) represents your unique self-sovereign
        digital identity. No central authority can revoke or modify it.
      </p>
    </div>

    <div class="onboarding__actions">
      <button class="onboarding__button" mat-flat-button (click)="continue()">
        Continue
      </button>
    </div>
  </div>
</div>
