<div class="footer">
  <div class="footer__text">
    <div class="footer__text__header">
      <h1>
        Your data @if (breakpoint() === 'XSmall' && 'Small'){<br />}is an asset
      </h1>
      <div class="footer__text__header__subheader">
        Veles ID turns your data into working asset. We research and develop new
        ways for monetizing your data with respect to privacy. You control the
        flow and decide what portions of information you want to share.
      </div>
    </div>
    <div class="footer__text__pics"></div>
  </div>

  <div class="footer__form">
    <img
      src="assets/veles_logo_white.svg"
      alt="App Logo"
      class="footer__form__logo"
    />
    <div class="footer__form__subscribe">
      <div class="footer__form__subscribe__text">
        Subscribe to Veles Newsletter
      </div>
      <a
        class="footer__form__subscribe__button"
        mat-flat-button
        href="https://www.google.com/"
        target="_blank"
        >SUBSCRIBE</a
      >
    </div>
    <div class="footer__form__copy">
      Turn your data into asset with Veles ID © 2025
    </div>
  </div>
</div>
