<div class="boarding">
  <div class="boarding__container">
    <header class="boarding__header">
      <h1 class="boarding__title">Decentralized Identifier</h1>
    </header>

    <div class="boarding__icon">
      <div class="boarding__logo">
        <img src="assets/signet_bright.svg" />
      </div>
    </div>

    <div class="boarding__content">
      <p class="boarding__description">
        Decentralized Identifier (DID) represents your unique self-sovereign
        digital identity. No central authority can revoke or modify it.
      </p>
    </div>

    <div class="boarding__actions">
      <button class="boarding__button" mat-flat-button (click)="continue()">
        Continue
      </button>
    </div>
  </div>
</div>
